body{
    background-color: antiquewhite;
}

.topLine{
    border-bottom: 5px solid rgb(112, 6, 6);
    border-top: 5px solid rgb(112, 6, 6);
    margin-top: 10px !important;
    margin-bottom: 20px;
}
.d-Flex{
    display:flex;
}

.authData{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.authData button{
    margin-left: 20px;
}

#userName{
    color:blue;
}
#login, #password, #fio{
    width: 100%;
}
label{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.adminMenu{
    text-align: left;
    list-style: none;
}

.adminMenu li{
    margin-bottom: 5px;
    background-color: #aaa;
    width: 100%;
    padding-left: 5px;
    cursor: pointer;
}

.adminMenu li:active, .adminMenu li:hover{
    background-color: #640707;
    color: #fff;
}

.adminMenu a{
    text-decoration: none;
    color: inherit;
}


#loginName,
#logoutBtn{
    display: flex;
    justify-content: space-evenly;
}