* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
  .wrapper {
    position: relative;
    min-height: 100%;
  }
  .content {
    padding-bottom: 90px;
  }
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
  }


.topLine{
    border-bottom: 5px solid rgb(112, 6, 6);
    border-top: 5px solid rgb(112, 6, 6);
    margin-top: 10px !important;
    margin-bottom: 20px;
}
.d-Flex{
    display:flex;
}

.authData{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.authData button{
    margin-left: 20px;
}

#userName{
    color:blue;
}
#login, #password, #fio{
    width: 100%;
}
label{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.adminMenu{
    text-align: left;
    list-style: none;
    padding-left: 0px;
}

.adminMenu li{
    margin-bottom: 5px;
    background-color: #aaa;
    width: 100%;
    padding-left: 5px;
    cursor: pointer;
}

.adminMenu li:hover, .activePoint{
    background-color: #640707 !important;;
    color: #fff;
}

.adminMenu a{
    text-decoration: none;
    color: inherit;
}

.subMenu
{
    display: none;
}


#loginName,
#logoutBtn{
    display: flex;
    justify-content: space-evenly;
}

.tableBase td{
    padding: 3px 5px;
    border: 2px solid #aaa;
    font-size: 12px;
}

.tableBase .topTr{
    font-weight: bold;
}

.editInput{
    width: 100%;
}

.notEditInput{
    width: 100%;
    background-color: #ccc;
}

.pagePaginator{
    cursor: pointer;
    background-color: #aaa;
    padding: 2px 6px;
    margin-right: 3px;
}

.pagePaginator:hover, .pagePaginator-active{
    background-color: #640707;
    color: #fff;
}

#result{
    display: none;
}

.logoImg{
    max-height: 80px;
    width: auto;
}
.menu_G_L{
    display: none;
    cursor: pointer;
}

.menu_G_L_0{
    cursor: pointer;
}

.menuMachine
{
    display: none;
    border-bottom:2px solid #aaa;
}

.visible
{
    display: block;
}

.adminMenuGroup{
    display: block;
    cursor: pointer;
} 

.adminMenuGroup:hover{
    /* text-decoration: line-through; */
    background-color: #640707;
    color: #fff;
}

.noVisible
{
    display: none;
}

.pm{
    margin-right: 5px;
    color:  #640707;
}

.fa-minus-square{
    /* color:#aaa; */
    background-color: #640707;
    border-radius: 5px;
    height: 95%;
}

.menuMachineActive{
    border-bottom: 2px solid #aaa;
    border-left:10px solid #640707;
    /* color:#fff; */
    font-style: italic;
    font-weight: bold;
}

.menuMachineDeActive{
    border-bottom: 2px solid #aaa;
    /* background-color:#fff; */
    border-left:10px solid #fff;
    /* color:#000; */
}

#closeSearchBtn{
    cursor: pointer;
    font-weight: bold;
    color: #d50505;
    position: absolute;
    right: 0px;
    top: 5px;
}

.menuMachine {
    cursor: pointer;
    font-size: 12px;
}

.menuMachine:hover {
    border-bottom: 2px solid #aaa;
    border-left:10px solid #934e4e;
}

.notActiveForUser{
    text-decoration: line-through;
    color: #934e4e;
}

.activeForUser{
    text-decoration: none;
    color: #000;
}