* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
  hr{
    margin: 7px 0!important;
  }
  .wrapper {
    position: relative;
    min-height: 100%;
  }
  .content {
    padding-bottom: 90px;
  }
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
  }

  .menu{
    background: #eee;
    border-radius: 10px;
    padding: 5px;
  }

.topLine{
    border-bottom: 5px solid rgb(112, 6, 6);
    border-top: 5px solid rgb(112, 6, 6);
    margin-top: 10px !important;
    margin-bottom: 20px;
}
.d-Flex{
    display:flex;
}

.authData{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.authData button{
    margin-left: 20px;
}

#userName{
    color:blue;
}
#login, #password, #fio{
    width: 100%;
}
label{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.adminMenu{
    text-align: left;
    list-style: none;
    padding-left: 0px;
}

.adminMenu li{
    margin-bottom: 5px;
    background-color: #fff;
    border-bottom: 1px solid #640707;
    width: 100%;
    padding-left: 5px;
    cursor: pointer;
}

.adminMenu li:hover, .activePoint{
    background-color: #640707 !important;;
    color: #fff;
}

.adminMenu a{
    text-decoration: none;
    color: inherit;
}

.mainMenu{
    text-align: left;
    list-style: none;
    padding-left: 0px;
}

.mainMenu li{
    margin-bottom: 5px;
    background-color: #ccc;
    width: 100%;
    padding-left: 5px;
    cursor: pointer;
}

.mainMenu li:hover, .activePoint{
    background-color: #640707 !important;;
    color: #fff;
}

.mainMenu a{
    text-decoration: none;
    color: inherit;
}


/* .subMenu
{
    display: none;
} */


#loginName,
#logoutBtn{
    display: flex;
    justify-content: space-evenly;
}

.tableBase td{
    padding: 3px 5px;
    border: 2px solid #aaa;
    font-size: 12px;
}

.tableBase .topTr{
    font-weight: bold;
}

.editInput{
    width: 100%;
}

.notEditInput{
    width: 100%;
    background-color: #ccc;
}

.pagePaginator{
    cursor: pointer;
    background-color: #aaa;
    padding: 2px 6px;
    margin-right: 3px;
}

.pagePaginator:hover, .pagePaginator-active{
    background-color: #640707;
    color: #fff;
}

#result{
    display: none;
}

.logoImg{
    max-height: 80px;
    width: auto;
}
.menu_G_L{
    display: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding-left: 5px;
}

.openGroup{
    border-bottom: 2px solid #640707;
    background-color: #ccc;
    border-radius: 5px;
}

.menu_G_L_0{
    width: 100%;
    display: block;
}
.menu_G_L_0:hover{
    cursor: pointer;
    background-color: #640707;
    color: #fff;
    border-radius: 5px;
}

.menuMachine
{
    display: none;
    border-bottom: 2px solid #212529;
}

.visible
{
    display: block;
}

.adminMenuGroup{
    display: block;
    cursor: pointer;
} 

.adminMenuGroup:hover{
    /* text-decoration: line-through; */
    background-color: #640707;
    color: #fff;
}

.noVisible
{
    display: none;
}
.menu_G_L:hover{
    background-color:#640707;
    color: #fff;
}
.pm{
    margin-right: 5px;
    color:  #640707;
}

.fa-minus-square{
    /* color:#aaa; */
    background-color: #640707;
    border-radius: 5px;
    height: 95%;
}

.menuMachineActive{
    border-left: 10px solid #640707;
    font-style: italic;
    color: #fff!important;
    background-color: #640707;
}

.menuMachineDeActive{
    border-bottom: 2px solid #aaa;
    /* background-color:#fff; */
    border-left:10px solid #fff;
    /* color:#000; */
}

#closeSearchBtn, #HC_closeSearchBtn{
    cursor: pointer;
    font-weight: bold;
    color: #d50505;
    position: absolute;
    right: 5px;
    top: 5px;
}

.menuMachine {
    cursor: pointer;
    font-size: 14px;
    color: black;
}

.menuMachine:hover {
    border-bottom: 2px solid #640707;
    border-left:5px solid #640707;
    padding-left: 5px;
}

.notActiveForUser{
    text-decoration: line-through;
    color: #934e4e;
}

.activeForUser{
    text-decoration: none;
    color: #000;
}

.iconBefore{
    width: 10%;
    display: inline-block;
}

.redBC{
    border: 1px dashed #f00;
    padding: 5px;
}

.greyBC{
    border: 1px dashed #aaa;
    padding: 5px;
}

.greenBC{
    border: 1px dashed #40a50d;
    padding: 5px;
}

.m2px{
    margin: 2px;
}

.solvTask{
    display: none;
}
.topTableTask{
    background-color: #ccc; 
    border: 1px solid #ccc;
}

.failuresPhoto{
    width: 100px;
    height: auto;
}

.editBlock{
    position: absolute;
    width: 0px;
}
.editBlock span{
    position: relative;
    left: -20px;
    background-color: #fff;
}

.deletePhoto:hover{
    cursor: pointer;
    color: #f00;
}

label .addPhoto{
    margin: 0;
    float: none;
    cursor: pointer;
}

.modalFailuresPhoto{
    width: 100%;
}

i.zoom{
    color: #000;
    right: 100px;
    position: relative;
    background: #fff;
}
I.zoom:hover{
    cursor: pointer;
    color: #f00;
}

.failureBtnBlock, .btnDetailedHide{
    display: none;
}

.warning{
    background: #fff70b;
    padding: 5px;
}

textarea{
    padding: 0px 5px;
}

.failName{
    color: #640707;
    background-color: #ccc;
    padding: 3px 5px;
    border-radius: 5px;
    text-align: center;
}
.hideProp{
    display: none;
}

.showProp{
    background-color: #ccc;
    padding: 5px 10px;
}

.activeBtn{
    background-color: #640707!important;
}

.subMenu{
    /* background-color: #eee; */
    /* border-radius: 5px; */
    padding: 0;
}

.subMenu li{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: 100%;
    margin-top: 5px;
    background-color: #ccc;
    border-bottom: 3px solid #7c7b7b;
}

.subMenu li:hover{
    cursor: pointer;
    background-color: #640707;
    color: #fff;
}

.regionBtn{
    margin-bottom: 5px;
}

.regionFailuresTable tr td{
    padding: 3px;
    border: 1px solid #aaa;
}
.serviceMan{
    padding: 0;
    display: inline;
    float: none;
    margin: 0;
    margin-left: 10px;
}
.serviceManLI{
    background-color: #7c7b7b;
}

.simpleTable tr td{
padding: 5px;
border-bottom: 1px solid #ccc;
}

.simpleTable th{
    font-weight: bold;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
}

.uploadPhotoForm{
    display: none;
}

.saved{
    background-color: #d1ffd1;
    /* font-weight: bold; */
}
.parkingReasonBtn{
    display: none;
}

.hCar:hover{
    cursor: pointer;
    color: #fff!important;
    background-color: #640707;
}
.hCarSelect{
    border-left: 10px solid #640707!important;
    font-style: italic;
    color: #640707!important;
    font-weight: bold;
}

.menuMachineDeActiveHC{
    border-left: 10px solid #640707;
    font-style: italic;
    color: #fff!important;
    background-color: #640707;
}

.menuMachineActiveHC{
    border-bottom: 2px solid #aaa;
    border-left:10px solid #fff;
}
.parkingComment{
    font-size: 0.7em;
    margin: 0 5px;
}

.saveCommentBtn{
    position:absolute;
}
.archiveFailures{
    background-color: #ffe8a1;
}
.trackAnalysis{
    background-color: #fdd2d2;
    padding: 5px;
}

.doneFailure tr{
border-bottom: 1px dashed #777;
}

.doneFailure td{
    padding: 5px;
}

.doneFailure td.vertical{
    border-left: 2px dashed #777;
}